PORT=5000
NODE_ENV=development

# Desarrollo local con Postgres
PGUSER=postgres
PGPASSWORD=tu_password
PGHOST=127.0.0.1
PGPORT=5432
PGDATABASE=directorio_manzanillo

# Produccion
# DATABASE_URL=postgresql://usuario:password@host:5432/basedatos
# DATABASE_SSL=true
